.nav-link {
    color: gray;
    font-weight: normal;
}

.nav-link h6.nav-text {
    margin: 0; /* Remove default margin */
    color: rgb(17, 16, 16); /* Ensure the text inside h6 is gray */
    font-weight: 400; /* Ensure the text inside h6 is normal weight */
}

.nav-link.active h6.nav-text {
    color: black; /* Change this to your desired active color */
    font-weight: bold; /* Optional: Keep this if you want the active link to be bold */
}

.nav-link:hover h6.nav-text {
    color: #039dfc; /* Change color on hover */
}
